/* External CSS */
.external-heading {
    color: green;
    background-color: lightblue;
    font-size: 26px;
    font-family: Georgia, serif;
    text-align: center;
}

.external-para {
    color: navy;
    background-color: #f2f2f2;
    font-size: 18px;
    font-family: 'Times New Roman', serif;
    text-align: justify;
}
